<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>shop1</display-name>
<!--/shop1/src/main/webapp/WEB-INF/web.xml  -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
<!-- spring 설정 -->
<servlet>
	<servlet-name>shop</servlet-name>
	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> <!-- .class 지워야함 -->
	<init-param> <!-- xml 의 위치 지정 -->
		<param-name>contextConfigLocation</param-name>
		<param-value> <!--/shop1/src/main/resources 밑에 넣어야함  -->
			classpath:spring-mvc.xml
			classpath:spring-db.xml
		</param-value>
	</init-param>
	<load-on-startup>1</load-on-startup> 
	<!-- 
		서버 restart 시키면 항상 한개는 메모리에 올려놔?? 
		INFO: Initializing Spring DispatcherServlet 'shop'
	-->
</servlet> 
<!--
	요청은 클라이언트가 한다 
	servlet-mapping : 요청정보와 서블릿을 매핑
	/ (모든요청) 시 shop 이름을 가진 서블릿 호출
 -->
<servlet-mapping>
	<servlet-name>shop</servlet-name>
	<url-pattern>/</url-pattern> <!-- 어떤요청이들어와도 shop이름을 가진 서블릿 실행해줘 -->
</servlet-mapping>
<!-- 한글 인코딩 필터 설정 -->
<filter>
	<filter-name>encoding</filter-name>
	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
	<init-param>
		<param-name>encoding</param-name>
		<param-value>UTF-8</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>encoding</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
</web-app>